@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table table-bordered border-dark">
        <thead >
            <tr>
                <th scope="col">Name</th>
                <th scope="col">ABV</th>
                <th scope="col">Ingredients</th>
                <th scope="col">Batch Size</th>
                <th scope="col">Scheduled Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Krampus' Special Sauce</th>
                <td>14</td>
                <td>On Order</td>
                <td>1.6</td>
                <td>01/23/2024</td>
            </tr>
            <tr>
                <th scope="row">Krampus' Special Sauce</th>
                <td>12</td>
                <td>On Order</td>
                <td>1</td>
                <td>02/03/2024</td>
            </tr>
            <tr>
                <th scope="row">Cascade Orange Pale Ale</th>
                <td>13</td>
                <td>Sufficient</td>
                <td>2.4</td>
                <td>02/05/2024</td>
            </tr>
            <tr>
                <th scope="row" height="40px"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row" height="40px"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row" height="40px"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <br />
    <p class="d-inline-block">______________________________________________________</p>
    <button class="rounded-pill btn-secondary d-inline-block">Search</button>
</div>
